<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Corferias App</title> 
        <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet' />
        <style type="text/css">
         
        </style>
    </head>
    <body>
        <h1>Hola</h1>
    </body>
</html>