<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Corferias App</title> 
        <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet' />
        <style type="text/css">
            body {
                font-family: 'Noto Sans';font-size: 12px;
            }
            p {
                color: #566573;
            }
            label{
                color: #566573;
            }
        </style>
    </head>
    <body>
        <div style="width:100%;">
            <table style="width:600px; margin: auto; background-color: White;">
                <tr>
                    <th>
                        <img src="http://api.apptotrip.com/ImagenesCorferias/fonndoCorreo.png" alt=""></img>
                    </th>
                </tr>
                <tr>
                    <td>
                        <label style="margin-left:68px; color: #DB0019; font-size: 20px; font-weight: bold; margin-bottom: 50px;">Bienvenid@</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-left:68px; margin-right:68px; text-align: justify; font-size: 15px;">
                            Su código de verificación para restablecer la contraseña App Corferias es: <span th:text="${codigo}">xxx</span></p><br />

                        <p style="margin-left:68px; margin-right:68px; text-align: justify; font-size: 15px;">
                            Cualquier problema con el código de verificación intente de nuevo o comuníquese con el área de soporte.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="margin-left:68px; font-size: 14px;  font-weight: bold;">Contacto</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-left:68px;">
                            <img src="ic_correoSinFondo.png" width="13" height="13" alt="" />
                            <label style="margin-left:5px;">erikrubio@gmail.com</label>
                        </div>
                    </td>
                </tr>
                <tr></tr>
                <!--<tr>
                    <td>
                        <div style="margin-left:68px; margin-bottom: 50px;">
                            <img src="ic_telefonoSinFondo.png" width="13" height="13" alt=""/>
                            <label style="margin-left:5px;">3002861556</label>
                        </div>
                    </td>
                </tr>-->
                 <tr style="background-color: #DB0019; height: 45px;">
                    <td align="center" style="text-align:center; margin:auto">
                        <label style="margin:auto; color: White;" >Siguenos en: </label>
                        <a style="text-decoration: none; margin-left: 8px;" href="https://www.facebook.com/corferias"><img style="margin:auto" src="http://api.apptotrip.com/ImagenesCorferias/facebookW.png" width="15" height="15" alt="facebook" /> </a>
                        <a style="text-decoration: none; margin-left: 8px;"  href="https://twitter.com/CorferiasBogota"><img style="margin:auto" src="http://api.apptotrip.com/ImagenesCorferias/twetterW.png" width="15" height="15" alt="twetter" /> </a>
                        <a style="text-decoration: none; margin-left: 8px;" href="http://co.linkedin.com/company/corferias"><img style="margin:auto" src="http://api.apptotrip.com/ImagenesCorferias/linkedW.png" width="15" height="15" alt="linked" /> </a>
                        <a style="text-decoration: none; margin-left: 8px;" href="http://www.youtube.com/user/Corferiasbta"><img style="margin:auto" src="http://api.apptotrip.com/ImagenesCorferias/youtubeW.png" width="15" height="15" alt="youtube" /> </a>
                        <a style="text-decoration: none; margin-left: 8px;" href="http://instagram.com/corferias"><img style="margin:auto" src="http://api.apptotrip.com/ImagenesCorferias/instagramW.png" width="15" height="15" alt="instagram" /> </a>    
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>