<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Sample Email</title>
    </head>
    <body>
           <div style="width:100%;">
            <table style="width:600px; margin: auto; background-color: White;">
                              
                <tr>
                    <td>
                        <p style="margin-left:68px; margin-right:68px; text-align: justify; font-size: 15px;">
                            Su código de verificación para restablecer la contraseña es: <span th:utext="${codigo}"></span></p><br />

                        <p style="margin-left:68px; margin-right:68px; text-align: justify; font-size: 15px;">
                            Cualquier problema con el código de verificación intente de nuevo o comuníquese con el área de soporte.</p>
                    </td>
                </tr>
                                                                                 
            </table>
        </div>
    </body>
</html>