<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Agroapoya2</title>
        <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet' />
           <style type="text/css">
            .contenedor{
                width: 60%;
                max-width: 600px;
                min-width: 450PX;
                margin: auto;
            }
            .textoParrafo{
                color: #333333;
                font-size: 15px;
            }
        </style>
    </head>
<body>
       <div class="contenedor">
        <div>
            <img  th:src="${imagenencabezado}" alt="imagenencabezado" width="100%" >
        </div>
        <div>
            <div st th:utext="${contenido}" class="textoParrafo">Hola</div>
        </div>
        <div >
            <img th:src="${imagenpiepagina}" alt="imagenpiepagina" width="100%" >
        </div>
    </div>
    </body>
</html>
</html>
